#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

&mt { flavor = "balanced"; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    shift_delete: shift_delete {
        compatible = "zmk,behavior-mod-morph";
        label = "SHIFT_DELETE";
        bindings = <&kp BACKSPACE>, <&kp DELETE>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        W_Main {
            display-name = "W_Main";
            bindings = <
&kp ESC           &kp N1            &kp N2              &kp N3          &kp N4          &kp N5          &kp UP_ARROW     &kp N6     &kp N7           &kp N8           &kp N9               &kp N0                &kp EQUAL
&kp TAB           &kp Q             &kp W               &kp E           &kp R           &kp T           &kp DOWN_ARROW   &kp Y      &kp U            &kp I            &kp O                &kp P                 &kp MINUS
&kp LEFT_SHIFT    &mt LEFT_SHIFT A  &mt LEFT_CONTROL S  &mt LEFT_GUI D  &mt LEFT_ALT F  &kp G           &kp LEFT_ARROW   &kp H      &mt RIGHT_ALT J  &mt RIGHT_WIN K  &mt RIGHT_CONTROL L  &mt RIGHT_SHIFT SEMI  &kp APOS
&kp LEFT_CONTROL  &kp Z             &kp X               &kp C           &kp V           &kp B           &kp RIGHT_ARROW  &kp N      &kp M            &kp COMMA        &kp DOT              &kp FSLH              &kp BACKSLASH
&kp C_MUTE        &mo 6             &mo 2               &kp LEFT_WIN    &kp SPACE       &kp LEFT_ALT    &kp LG(LS(S))    &kp ENTER  &kp SPACE        &shift_delete    &mo 4                &mo 5
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        M_Main {
            bindings = <
&kp ESC           &kp N1            &kp N2              &kp N3          &kp N4          &kp N5              &kp UP_ARROW             &kp N6     &kp N7               &kp N8           &kp N9               &kp N0                     &kp EQUAL
&kp TAB           &kp Q             &kp W               &kp E           &kp R           &kp T               &kp DOWN_ARROW           &kp Y      &kp U                &kp I            &kp O                &kp P                      &kp MINUS
&kp LEFT_SHIFT    &mt LEFT_SHIFT A  &mt LEFT_CONTROL S  &mt LEFT_ALT D  &mt LEFT_GUI F  &kp G               &kp LEFT_ARROW           &kp H      &mt RIGHT_COMMAND J  &mt RIGHT_ALT K  &mt RIGHT_CONTROL L  &mt RIGHT_SHIFT SEMICOLON  &kp APOS
&kp LEFT_CONTROL  &kp Z             &kp X               &kp C           &kp V           &kp B               &kp RIGHT_ARROW          &kp N      &kp M                &kp COMMA        &kp DOT              &kp FSLH                   &kp BACKSLASH
&kp C_MUTE        &mo 6             &mo 3               &kp LEFT_ALT    &kp SPACE       &kp LEFT_COMMAND    &kp LS(LA(KP_NUMBER_4))  &kp ENTER  &kp SPACE            &shift_delete    &mo 4                &mo 5
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "M_Main";
        };

        W_Num_and_Nav {
            label = "W_Num_and_Nav";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &mmv MOVE_UP     &trans         &trans        &trans    &trans     &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &kp N0    &mmv MOVE_DOWN   &trans         &kp BSPC      &kp UP    &kp DEL    &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &mmv MOVE_LEFT   &trans         &kp LEFT      &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &mmv MOVE_RIGHT  &trans         &trans        &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &mkp LCLK        &kp LA(LSHFT)  &kp LC(LALT)  &kp LALT  &kp LGUI   &trans
            >;
        };

        M_Num_and_Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &mmv MOVE_UP     &trans         &trans        &trans    &trans     &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &kp N0    &mmv MOVE_DOWN   &trans         &kp BSPC      &kp UP    &kp DEL    &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &mmv MOVE_LEFT   &trans         &kp LEFT      &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &mmv MOVE_RIGHT  &trans         &trans        &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &mkp LCLK        &kp LG(LSHFT)  &kp LS(LALT)  &kp LALT  &kp LGUI   &trans
            >;

            label = "M_Num_and_Nav";
        };

        Symbols_and_FN {
            bindings = <
&trans  &trans           &kp F10  &kp F11  &kp F12  &trans    &trans  &kp CARET       &kp AMPERSAND         &kp ASTERISK           &kp HASH        &kp GRAVE         &kp TILDE
&trans  &kp CAPSLOCK     &kp F7   &kp F8   &kp F9   &trans    &trans  &kp MINUS       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LESS_THAN   &kp GREATER_THAN  &kp SEMICOLON
&trans  &kp PRINTSCREEN  &kp F4   &kp F5   &kp F6   &trans    &trans  &kp UNDERSCORE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LEFT_BRACE  &kp RIGHT_BRACE   &trans
&trans  &trans           &kp F1   &kp F2   &kp F3   &trans    &trans  &kp EQUAL       &kp PLUS              &trans                 &trans          &trans            &trans
&trans  &trans           &trans   &trans   &trans   &trans    &trans  &trans          &trans                &trans                 &trans          &trans
            >;

            display-name = "Symbols_and_FN";
            sensor-bindings = <&scroll_encoder>;
        };

        Sys_and_Misc {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &trans       &trans  &trans           &trans           &trans           &trans
&trans  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &sys_reset      &mmv MOVE_DOWN   &sys_reset   &trans  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &trans
&trans  &out OUT_USB  &out OUT_BLE    &trans        &trans        &bootloader     &mmv MOVE_LEFT   &bootloader  &trans  &rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &trans           &trans
&trans  &trans        &trans          &trans        &trans        &soft_off       &mmv MOVE_RIGHT  &soft_off    &trans  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans           &trans
&trans  &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans       &trans  &trans           &trans           &trans
            >;

            display-name = "Sys_and_Misc";
            sensor-bindings = <&scroll_encoder>;
        };

        Layers {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
&none  &none  &to 0  &to 1  &none  &none    &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
            >;

            label = "Layers";
        };
    };
};
